.undefined {
    background-color: white;
    cursor: pointer;
}

.undefined:hover {
    background-color: #a1ffc2;
    border-color: #2a653f;
}

.undefined:active {
    background-color: #4bd67c;
}

.ADJ {
    background-color: #ffcd73;
    border-color: #a77b2c;
}

.ADV {
    background-color: darkgrey;
}

.ART {

}

.AUX {

}

.CON {

}

.LIA {

}

.NOM {
    background-color: #fe9292;
    border-color: #ba4848;
}

.ONO {

}

.PRE {

}

.PRO {
    background-color: #89d0fb;
    border-color: #4285ad;
}

.VER {
    background-color: #9fe89a;
    border-color: #4cad38;
}
