@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #ececec;
    font-family: Montserrat-SemiBold, sans-serif;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 6px black;

    background-color: white;
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
}

header p {
    margin: 0;
}

header a {
    height: 100%
}

button {
    color: white;
    background-color: #363636;
    padding: 1em;
    font-family: Montserrat-Bold;
    border: 0.2rem solid;
    transition: all 0.2s;
    cursor: pointer;
}

button:hover {
    background-color: #5c5c5c;
    border-color: #363636;
}

button:active {
    background-color: #2e2e2e;
    border-color: #5c5c5c;
}

#config-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 10em;
}

#config-button:hover {
    background-color: #a1ffc2;
}

#config-button:active {
    background-color: #4bd67c;
}

#config-button p {
    color: black;
}

.config {
    display: none;
    position: fixed;
    right: 0;
    padding: 1em;
    background-color: white;
    box-shadow: 0px 0px 6px black;
}

input, select, button {
    font-size: 1rem;
}

#instruction {
    text-align: center;
    font-size: 1.5rem;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#words-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 70%;
}

.word {
    color: black;
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 0.4rem;
    margin: 5px;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;

    height: 4em;
    width: 15em;
}

.word p {
    margin: 0;
    font-size: 1.4rem;
}

.cross {
    background-image: url('../images/Round_cross.svg');
    background-size: contain;
    height: 1rem;
    width: 1rem;
}

.tick {
    background-image: url('../images/Green_check.svg');
    background-size: contain;
    height: 1rem;
    width: 1rem;
}

#result {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.result-instruction {
    display: none;
    font-size: 1.5rem;
}

.validate-words {
    display: none;
}

.restart-button {
    display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    background-color: grey;
    font-family: Montserrat;
    height: 3rem;
}

.show {
    display: block;
}

@media only screen and (max-device-width: 480px) { /*smartphone*/
    html {
        font-size: 2.5em;
    }

    #words-container {
        width: 90%;
    }

    .word {
        width: 100%;
        border-width: 6px;
    }

}
